<!DOCTYPE html>
<html>
<head>
    <title>{{wiki.title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link href="/assets/style/edit.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script src="/assets/webApp/notify.min.js"></script>
    <script src="/assets/webApp/edit.js"></script>
</head>
<body>
<div class="header">
    <h1>{{wiki.title}}</h1>

    <div class="navbar">
        <ul>
            <li><a href="/{{wiki.title}}/edit" id="edit-button">Edit</a></li>
            <li><a href="/{{wiki.title}}/move" id="move-button">Move</a></li>
            <li><a href="/{{wiki.title}}" id="view-button">View</a></li>
        </ul>
    </div>
</div>
<hr/>
<div class="input-group">
    <input name="source" id="source" class="form-control" readonly/>
    <span class="input-group-addon" id="basic-addon1">→</span>
    <input name="destination" id="destination" class="form-control"/>
    <input type="button" id="move" value="Move"/>
</div>
</body>
</html>